* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.box {
	/* height: 730px; */
	width: 375px;
	/*background-color: red;*/
	margin: 0 auto;
}
.div1 {
	height: 27px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}
.div1 img {
	width: 360px;
	height: 11px;
}
.div2 {
	width: 375px;
	height: 45px;
	background-color: rgba(27, 27, 27, 1);
	text-align: center;
    line-height: 45px;
    margin: 0;
	
}
.div2 span {
	color: white;
	font-size: 13px;
	font-weight: bold;
}
.div3 img{
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
    position: relative;
    top: -30px;
    left: 15px;

}
.div3 {
    width: 375px;
    height: 426px;
    background-color: rgba(242, 242, 242, 1);
    margin: 0;
}
.div3 ul li{
    list-style: none;
    height: 46px;
    width: 375px;
    background-color: white;
    display: block;
    margin-bottom: 12px;
    line-height: 46px;
}
.div3 ul {
    position: relative;
    top: -5px;
    left: 0px;
}
.div3 ul li span {
    font-size: 14px;
    margin-left: 18px;
}
